# Local files
dev/env/
docs/api/
build/
# General Python files
# https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx documentation
docs/_build/

